#regok{

font-size:17px;
color:rgb(57, 154, 43)
}

#birincilink{
color:rgb(183, 153, 59);
width: 50px;
margin:0 auto;

}

#birincilink:hover{
  color:#2ac0ff;
 -webkit-transition-duration: 350ms; /* Safari */
  transition-duration: 350ms;
  transition: 350ms linear all;
  }
  
#indir{
	font-size:15px;
	text-transform:none;
	text-decoration:none;
	color: rgb(225, 211, 162);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8);
  }
  
#indir:hover{
  color:white;
 -webkit-transition-duration: 350ms; /* Safari */
  transition-duration: 350ms;
  transition: 350ms linear all;
  }
  
 
.liste ul{ 
list-style: none outside none;
}  
.liste li{
 position: relative;
 display: inline;
 margin: 20px;
}  

.liste li img{
height:100px;
width:100px;
}

.loginform{
margin-left:5%;
}
 
.reg {
margin:20px;
} 
